<div ui-view="findJson">

	<form name="addNewForm" ng-submit="lookUpBook(addNewForm.inputValue)" ng-disabled="addNewForm.$invalid" novalidation>

		<!-- -BOOK ID -->
		<div class="form-group">
			<input type="text" name="inputValue" class="form-control input-lg" ng-model="inputValue" placeholder="Write isbn/dokid/objectid here" ng-required="true" ng-minlength=9 ng-trim="true">
			<br>
			<span ng-show="addNewForm.inputValue.$dirty && addNewForm.inputValue.$error.required">Required!</span>
			<span ng-show="addNewForm.inputValue.$dirty && addNewForm.inputValue.$error.minlength">You need to enter a valid ISBN/docid/objectid number.</span>
		</div>

		<!-- SUBMIT BUTTON -->
		<div class="form-group text-right">
			<button class="btn btn-primary btn-lg" ng-disabled="addNewForm.$invalid">Submit</button>
		</div>

	</form>

	<!-- show loading spinner if we're still fetching data -->
	<loadingspinner></loadingspinner>

	<!-- show error if something went wrong -->
	<errormessage></errormessage>

</div>