<form ng-submit="lookUpBook()">
	<!-- -BOOK ID -->
	<div class="form-group">
		<input type="text"class="form-control input-lg" name="inputValue" ng-model="inputValue" placeholder="Write isbn/dokid/objectid here">
	</div>

	<!-- SUBMIT BUTTON -->
	<div class="form-group text-right">
		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</div>
</form>

<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

<!-- bøkene =============================================== -->
<!-- hide books if the loading variable is set to true -->
<div class="book" ng-hide="loading" ng-repeat="book in books">
	<h3>Book #{{ book.id }} <small>av {{ book.authors }}</h3>
	<p>{{ book.dokid }}</p>

	<p><a href="#" ng-click="deleteBook(book.id)" class="text-muted">Delete</a></p>
</div>