<form
	name="lookUpForm"
	ng-submit="lookUpBook()"
	novalidate>

	<!-- -BOOK ID -->
	<div
		class="form-group"
		ng-class="{
			'has-error' : lookUpForm.inputValue.$invalid && lookUpForm.inputValue.$dirty,
			'has-success': lookUpForm.inputValue.$valid && lookUpForm.inputValue.$dirty
		}">

		<input
			type="text"
			name="inputValue"
			class="form-control input-lg"
			ng-model="inputValue"
			placeholder="Write isbn/dokid/objectid here"
			ng-required="true"
			ng-minlength=9
			ng-trim="true"
			cu-focus>
		
		<br>
		
		<span
			ng-show="lookUpForm.inputValue.$dirty && lookUpForm.inputValue.$error.minlength && !lookUpForm.inputValue.$focused">
			You need to enter a valid ISBN/docid/objectid number.
		</span>
	</div>

	<!-- SUBMIT BUTTON -->
	<div class="form-group text-right">
		<button
			class="btn btn-primary btn-lg"
			ng-disabled="lookUpForm.$invalid">
			Submit
		</button>
	</div>

</form>

<!-- show loading spinner if we're still fetching data -->
<loadingspinner></loadingspinner>

<!-- show error if something went wrong -->
<errormessage></errormessage>