<div>

	<h3>Edit book info</h4>

	<form
		name="informationEditorForm"
		ng-submit="informationEditorForm.$valid && informationEditorCtrl.saveBook()"
		novalidate>

		<div class="control-group">
			<label class="control-label" for="isbn">ISBN</label>
			<div class="controls">
				<input
					class="form-control"
					name="isbn"
					type="text"
					placeholder="Select an ISBN and it will appear here.."
					required
					ng-model="informationEditorCtrl.info.isbn">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="image">Link to image</label>
			<div class="controls">
				<input
					class="form-control"
					name="image"
					type="text"
					placeholder="Select an image and its link will appear here.."
					required
					ng-model="informationEditorCtrl.info.image">
			</div>
			<div class="controls">
				<img ng-src="{{informationEditorCtrl.info.image}}" alt="Image not found." class="imgSize">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input
					class="form-control"
					name="title"
					type="text"
					placeholder="Select a title and it will appear here.."
					required
					ng-model="informationEditorCtrl.info.title">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="author">Author</label>
			<div class="controls">
				<input
					class="form-control"
					name="author"
					type="text"
					placeholder="Select an author and it will appear here.."
					required
					ng-model="informationEditorCtrl.info.author">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="category">Category</label>
			<div class="controls">
				<select
					class="form-control"
					name="category"
					required
					ng-options="category for category in informationEditorCtrl.categories"
					ng-model="informationEditorCtrl.info.cat"></select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="desc">Description</label>
			<div class="controls">
				<textarea
					class="form-control"
					rows="10"
					name="desc"
					type="text"
					placeholder="Select a description and it will appear here.."
					required
					ng-model="informationEditorCtrl.info.desc"></textarea>
			</div>
		</div>

		<!-- SUBMIT BUTTON -->
		<div class="control-group text-right">

			<button
				class="btn btn-primary btn-lg"
				ng-disabled="informationEditorForm.$invalid">
				Save Book
			</button>

		</div>

	</form>

</div>

<!-- show loading spinner if we've sent data to save and are waiting -->
<loadingspinner ng-show="informationEditorCtrl.loading"></loadingspinner>

<!-- show error if something went wrong -->
<errormessage ng-show="informationEditorCtrl.error">{{informationEditorCtrl.error}}</errormessage>