<div>
	
	<h3>Description</h3>

	<button
		type="button"
		ng-repeat="desc in descriptionSelectorCtrl.allDescriptions"
		ng-show="descriptionSelectorCtrl.allDescriptions"
		class="btn btn-default btn-block"
		ng-class="{buttonSelected: desc === 
		descriptionSelectorCtrl.selectedDesc}"
		ng-model="desc"
		ng-value="desc"
		ng-click="descriptionSelectorCtrl.selectThis($index)">
		{{desc}}
	</button>

	<small ng-show="!descriptionSelectorCtrl.allDescriptions.length">
		(none found)
	</small>

</div>