<div>
	<p>Here you'll select the data you want to move on with. Click on the data you want for each data type, and in the end (in "edit") you'll be able to manually edit the data. If you don't see anything here, go <a ui-sref="lookUp">make a search</a>.</p>
	<p>
		<a ui-sref="showJsonData.isbnSelector">ISBN</a> 
		<span class="glyphicon glyphicon-arrow-right"></span> 
		<a ui-sref="showJsonData.imageSelector">Image</a> 
		<span class="glyphicon glyphicon-arrow-right"></span> 
		<a ui-sref="showJsonData.titleSelector">Title</a> 
		<span class="glyphicon glyphicon-arrow-right"></span> 
		<a ui-sref="showJsonData.authorSelector">Author</a> 
		<span class="glyphicon glyphicon-arrow-right"></span> 
		<a ui-sref="showJsonData.descriptionSelector">Description</a> 
		<span class="glyphicon glyphicon-arrow-right"></span> 
		<a ui-sref="showJsonData.informationEditor">Edit</a>
	</p>
</div>

<div ui-view></div>